<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>GENETRIS</title>
  </head>
  <body style="background-color: black;">
    <main id="genetris" style="display: none;">
      <h1 id="genetris-title">Genetris!</h1>
      <section id="genetris-cpu-warning">
        <h2>Warning!</h2>
        <p>This will work out your CPU!</p>
      </section>
      <h3 id="genetris-info-chromosome">Chromosome: <span id="genetris-info-chromosome-index">1</span></h3>
      <section id="genetris-focus-canvas-container">
        <canvas
          id="genetris-focus-canvas"
          class="genetris__canvas genetris__canvas--focus"
        ></canvas>
        <section id="genetris-info-container">
          <p>Score: <span id="genetris-info-score">0</span></p>
          <p>Maximising: <span id="genetris-info-maximising">0</span></p>
          <p>Minimising: <span id="genetris-info-minimising">0</span></p>
        </section>
      </section>
      <h3>Generation: <span id="genetris-info-generation">1</span></h3>
      <section id="genetris-canvas-container"></section>
      <section id="genetris-controls-container">
        <button id="genetris-run-toggle">Pause</button>
        <br />
        <div id="genetris-speed-slider">
          <label for="genetris-speed-range">Speed:</label>
          <input
            id="genetris-speed-range"
            type="range"
            min="0"
            max="1000"
            step="50"
            value="500"
          />
        </div>
      </section>
    </main>
    <footer id="footer-container">
      <p>
        <a href="https://github.com/phenomnomnominal/genetris">github</a>
      </p>
      <p>
        <a href="https://twitter.com/phenomnominal">twitter</a>
      </p>
    </footer>
  </body>
</html>
